@model YazilimSinamaStarsUpPlanner.Models.Entity.GorevDurumları
@{
    ViewBag.Title = "GorevDurumEkle";
    Layout = "~/Views/Shared/KullaniciLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Template/form/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/vendor/noui/nouislider.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/form/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Template/form/css/main.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" href="~/Template/form/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/form/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/form/css/aos.css">
    <link rel="stylesheet" href="~/Template/form/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/form/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Template/form/css/templatemo-digital-trend.css">

</head>
<body>

    <!-- MENU BAR -->



    <div class="container-contact100">
        <div class="wrap-contact100">
            <form action="/GorevDurum/GorevDurumEkle/" method="post" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Görev Durum Ekle
                </span>
                <label>Görev Adı</label>
                @Html.DropDownListFor(k => k.Gorevler.GorevId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
                <br />
                <label>Durum</label>
                @Html.DropDownListFor(k => k.Durumlar.DurumId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
                <br />
                <label>Açıklama</label>
                @Html.TextAreaFor(k => k.Aciklama, new { @class = "form-control" })
                <br />
                <label>Tarih</label>
                @Html.TextBoxFor(k => k.GorevDurumTarihi, "{0: dd.MM.yyyy}", new { @class = "form-control" })
                <br />
                <label>Kullanıcı Adı Soyadı</label>
                @Html.DropDownListFor(k => k.Kullanicilar.KullaniciId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
                <br />
                <label>Yapılacak İş 1</label>
                @Html.TextBoxFor(k => k.YapilacakIs1, new { @class = "form-control" })
                <br />
                <label>Yapılacak İş 2</label>
                @Html.TextBoxFor(k => k.YapilacakIs2, new { @class = "form-control" })
                <br />
                <label>Yapılacak İş 3</label>
                @Html.TextBoxFor(k => k.YapilacakIs3, new { @class = "form-control" })
                <br />
                <label>Yapılacak İş 4</label>
                @Html.TextBoxFor(k => k.YapilacakIs4, new { @class = "form-control" })
                <div style="margin-top:15px">
                    <a href="#">
                        <input type="submit" class="btn btn-info" value="Ekle">
                    </a>

                </div>
            </form>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Template/form/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please chooses") {
                        $('.js-show-service').slideUp();
                    }
                    else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Template/form/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/form/vendor/noui/nouislider.min.js"></script>
    <script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [1500, 3900],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Template/form/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

</body>
</html>


